body {
    background-color: darkcyan;
    color: black;
}

button {
    border-radius: 5px;
    background-color: lightgreen;
}

.resource-generation {
    background-color: darkgray;
    border: 1px solid black;
}

.resource-display {
    box-sizing: border-box;
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0% 1%;
    /* width: 10%; */
}

.resource-icon {
    border: 1px solid black;
    width: 25px;
}

#player-menu {
    display: none;
    background-color: lightcoral;
}

#player-level-info {
    text-align: center;
    padding-bottom: 10px;
}

#storage {
    border: solid black 2px;
    margin: 0px 10px;
}

.element-capacity-div {
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.resources-div {
    justify-content: center;
}

.resource-capacity-div {
    border: 1px solid black;
}
